@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Medium'), 
      url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'),
      url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Black'), 
      url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}


body {
  background: #FFFFFF;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 1720px;
  margin: 0 auto;
}

.btn {
  color: #FEFEFE;
  background: #000000;
  font-weight: 500;
  border-radius: 7px;
  border: 2px solid #000;
  transition: background .2s ease-in-out, color .2s ease-in-out;
  &:hover{
    background: transparent;
    color: #000000;
    border: 2px solid #000;
  }
}

.mb-32{
  margin-bottom: 32px;
}

// .mr-188{
//   margin-right: 160px;
// }